[Unit]
Description=Node Exporter

[Service]
Type=simple
ExecStart=/usr/local/bin/node_exporter \
  --no-collector.arp \
  --no-collector.bcache \
  --no-collector.bonding \
  --no-collector.buddyinfo \
  --no-collector.conntrack \
  --collector.cpu \
  --collector.cpufreq \
  --collector.diskstats \
  --no-collector.drbd \
  --no-collector.edac \
  --no-collector.entropy \
  --no-collector.filefd \
  --collector.filesystem \
  --no-collector.hwmon \
  --no-collector.infiniband \
  --no-collector.interrupts \
  --no-collector.ipvs \
  --no-collector.ksmd \
  --no-collector.loadavg \
  --no-collector.logind \
  --no-collector.mdadm \
  --collector.meminfo \
  --no-collector.meminfo_numa \
  --no-collector.mountstats \
  --collector.netclass \
  --collector.netdev \
  --collector.netstat \
  --no-collector.nfs \
  --no-collector.nfsd \
  --no-collector.ntp \
  --no-collector.perf \
  --no-collector.powersupplyclass \
  --no-collector.pressure \
  --no-collector.processes \
  --no-collector.qdisc \
  --no-collector.rapl \
  --no-collector.runit \
  --no-collector.schedstat \
  --no-collector.sockstat \
  --no-collector.softnet \
  --no-collector.stat \
  --no-collector.supervisord \
  --no-collector.systemd \
  --collector.tcpstat \
  --no-collector.textfile \
  --collector.thermal_zone \
  --no-collector.time \
  --no-collector.timex \
  --no-collector.uname \
  --no-collector.vmstat \
  --no-collector.wifi \
  --no-collector.xfs \
  --no-collector.zfs
PrivateTmp=false

[Install]
WantedBy=multi-user.target